<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EliteReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EliteReporter.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="ExportFilePath" serializeAs="String">
                <value>missions.json</value>
            </setting>
            <setting name="MissionCoolDown" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ExportCommandExec" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportCommandArgs" serializeAs="String">
                <value>$exportedFile</value>
            </setting>
            <setting name="GameResolution" serializeAs="String">
                <value>1280, 800</value>
            </setting>
        </EliteReporter.Properties.Settings>
    </userSettings>
</configuration>